body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    font-size: 15px;
    font-family: Outfit;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    height: 497px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 10px 10px 50px #979797;

}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-block: 24px 40px;
}

img {
    border-radius: 8px;
}

h1 {
    font-size: 22px;
}

p {
    padding: 0 16px;
    color: hsl(220, 15%, 55%);
}

